html,
body {
  /* height: 100%; */
  width: 100%;
  
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(122.71deg, #000000 0%, #00057C 89.58%, #000AF9 100%);
  background-repeat: no-repeat;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
}

.form{
  display: flex ;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-floating{
  display: flex;
  flex-direction: column;
  
}

.form h1{
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form div label{
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form div .form-control{
  width: 250px;
  height: 30px;
  border-radius: 8px;
  border: none;
  box-shadow: #000000;
  padding: 0px 5px;
}

.form div input ::placeholder{
  padding-left: 10px;
}

.checkbox{
  display: flex;
  padding: 5px 5px;

}
.form .checkbox input{
  /* display: flex; */
  padding: 0px 0px;
  
}

.but{
  text-decoration: none;
}