/* Home design ####################################*/

*{
    margin: 0px;
    padding: 0px;
}

.body{
    background: linear-gradient(122.71deg, #000000 0%, #00057C 89.58%, #000AF9 100%);
    background-repeat: no-repeat;
}
.prudcts{
    background-color: #00057C !important;
}
.card{box-shadow: 0px 2px 11px 2px  #F90606;}

.navb{
    margin: 0px 15px;
}
.sidati{
    display: flex;
    gap: 30px;
    
}
.sidati li{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}