/* Home design ####################################*/

* {
    margin: 0px;
    padding: 0px;
}

.body {
    background: linear-gradient(122.71deg, #3A6186 0%, #89253E 89.58%);
    background-repeat: no-repeat;
}

.prudcts {
    background-color: #00057C !important;
}

.card {
    box-shadow: 1px 1px 1px 1px gray;
    color: #3A6186;
}

.navbar {
    top: 0%;
    /* background-color: #a61515d7; */
    position: fixed;
    width: 100%;
    z-index: 12;
    
}
nav{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.sidati {
    display: flex;
    gap: 30px;
    padding-right: 30px;

}

.sidati li {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}


.footer {
    height: fit-content;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.footer .img {
    align-self: center !important;
}

#galleryheader{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3%;
    justify-content: space-between;
    width: 100%;
    padding: 3% 5%;
}
.galleryheader img{
    width: 100%;
    box-shadow: #000000;
    border: 2px solid aliceblue;
    
}
.galleryheader h3{
    width: 100%;
    color: aliceblue;
}
.filter{
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 0px;
}
.filter button:hover{
    background-color: aliceblue;
    color: #000000;
}
.filter{
    
    width:fit-content;
    color: white;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 1em;
}

.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    padding: 10px 10px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.productCard img{
    align-content: center;
    max-width: 150px;
    
}

.productCard h4{
    font-size: 14px;
}


/* Footer ################################################ */
.footer1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #0000007d;
}

.footer1 li{
    list-style-type: none;
}

.footer1 .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 5%;
}

.footer1 .links{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: flex-start;

}

.footer1 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    color: aliceblue;
    font-family: "Monserrat", sans-serif;
}

.all-rights{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-family: "Monserrat", sans-serif;
    padding-bottom: 5px;
}

.logof img{
    width: 100px;
}

.navbar-toggler{
    /* background-color: rgb(19, 75, 123);
    z-index: -5;
    color: #00057C; */
}

.navbar-toggler-icon{
    display: flex;
}